# Ignore all macOS system files
*.DS_Store

# Ignore all text files
*.txt

# Ignore Python bytecode
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore local environment settings or API keys
.env

# Ignore IDE settings
.vscode/
.idea/
